.width100 {
    width: 100% !important;
}

.cus_find_id_pass {
    padding: 75px 20px;
}

@media (min-width: 767.98px) {
	.cus_find_id_pass {
	    padding: 150px 40px;
	}
}

.cus_order_history .tab-modern .tab-modern__nav-link, .section-concept .tab-modern .tab-modern__nav-link, .mileage-history .tab-modern .tab-modern__nav-link, .cus_find_id_pass .tab-modern .tab-modern__nav-link, .cus_review_wrap .tab-modern .tab-modern__nav-link {
    width: 50% !important;
}

.tab-modern .tab-modern__nav-link {
    width: 33.3333333%;
    color: #565a5c;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    border: none;
    border-bottom: 3px solid #fff;
    border-radius: 0;
    padding: 9px;
    box-shadow: none;
}

@media (min-width: 767.98px) {
	.tab-modern .tab-modern__nav-link {
	    font-size: 24px;
	    border-bottom-width: 2px;
	    padding: 18px;
	}
}


.section-form-group {
    font-size: 11px;
    font-weight: 400;
    color: #565a5c;
    padding: 27px 20px 32px;
}



@media (min-width: 767.98px) {
	.section-form-group {
	    width: 460px;
	    font-size: 18px;
	    padding: 54px 40px 64px;
	    margin: 0 auto;
	}
}

.section-form-group .form-btn-group .btn-zip {
    position: absolute;
    right: 7px;
    top: 7px;
}

@media (min-width: 767.98px){
	.section-form-group .form-btn-group .btn-zip {
	    right: 13px;
	    top: 12px;
	}
}

.section-form-group .form-btn-group {
    position: relative;
    margin-top: 7px;
}

@media (min-width: 767.98px) {
	.section-form-group .form-btn-group {
	    margin-top: 14px;
	}
}

.section-form-group .form-btn-group .certification-number {
    position: absolute;
    right: 57px;
    top: 10px;
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    color: #059307;
}


@media (min-width: 767.98px) {
	.section-form-group .form-btn-group .certification-number {
	    right: 114px;
	    top: 4px;
	    height: 50px;
	    font-size: 20px;
	    line-height: 50px;
	}
}

.section-form-group .form-btn-group .btn-zip {
    position: absolute;
    right: 7px;
    top: 7px;
}

@media (min-width: 767.98px){
	.section-form-group .form-btn-group .btn-zip {
	    right: 13px;
	    top: 12px;
	}
}

.form-control-grey {
    background-color: white;
}


.img_container {
    position: relative;
    width: 98px;
}

@media (min-width: 767.98px) {
	.img_container {
	    width: 100%;
	    margin-top: 29px;
	}
}


.preview {
    width: 98px;
    height: 98px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 1px solid #d5d5d5;
}

@media (min-width: 767.98px) {
	.preview, .custom-file-label {
	    width: 150px;
	    height: 150px;
	    margin-left: 100px;
	}
}

@media (min-width: 767.98px) {
	.preview {
	    border-width: 2px;
	}
}

.imgInp {
    display: none !important;
}


.custom-file-label {
    width: 98px;
    height: 98px;
    cursor: pointer;
    border: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
}


@media (min-width: 767.98px) {
	.preview, .custom-file-label {
	    width: 150px;
	    height: 150px;
	    margin-left: 100px;
	}
}

.section-form-group-modify {
    padding: 75px 20px 32px;
}

@media (min-width: 767.98px) {
	.section-form-group-modify {
	    padding: 0;
	}
}

.selection_dropselect {
    position: relative;
    width: 100%;
}

@media (min-width: 767.98px) {
	.selection_dropselect {
	    width: 100%;
	}
}

.selection_dropselect .dropdown-toggle {
    position: relative;
    width: 100%;
    display: inline-block;
    height: 43px;
    font-size: 14px;
    color: #505050;
    line-height: 1.1;
    cursor: pointer;
    padding: 2px 11px 3px;
    border-radius: 4px !important;
    border: solid 1px #ccc;
    text-align: left;
    background-color: white;
    -webkit-transition: all 150ms linear 0s;
    transition: all 150ms linear 0s;
}

@media (min-width: 767.98px) {
	.selection_dropselect .dropdown-toggle {
	    height: 56px;
	    font-size: 16px;
	    padding: 4px 22px 6px;
	    border-radius: 0 !important;
	}
}

.selection_dropselect .dropdown-menu {
    width: 100%;
    min-width: 100%;
    padding: 0;
    overflow: hidden;
    border-radius: 4px;
    border: solid 1px #000000;
    background-color: #fcfcfc;
}

@media (min-width: 767.98px) {
	.selection_dropselect .dropdown-menu {
	    border-radius: 0;
	    width: 375px;
	    min-width: 375px;
	}
}

.selection_dropselect .dropdown-menu [data-selected="selected"], .selection_dropselect .dropdown-menu .dropdown-item:hover {
    color: #000;
    background-color: #fff;
}
.selection_dropselect .dropdown-menu .dropdown-item {
    position: relative;
    color: #565a5c;
    font-size: 14px;
    padding: 13px 11px;
    border-radius: 0;
}

@media (min-width: 767.98px) {
	.selection_dropselect .dropdown-menu .dropdown-item {
	    font-size: 24px;
	    padding: 16px 22px;
	}
}


.selection_dropselect .dropdown-menu [data-selected="selected"]::after, .selection_dropselect .dropdown-menu .dropdown-item:hover::after {
    color: #000;
}
.selection_dropselect .dropdown-menu .dropdown-item::after {
    position: absolute;
    display: block;
    top: 50%;
    right: 12px;
    margin-top: -12px;
    background-image: none!important;
    color: #d3d3d3;
    font-size: 14px !important;
    font-weight: 900;
    text-shadow: none!important;
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
}

@media (min-width: 767.98px) {
	.selection_dropselect .dropdown-menu .dropdown-item::after {
	    right: 24px;
	    margin-top: -16px;
	    font-size: 22px !important;
	}
}