.width100 {
	width: 100% !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align_center {
    align-items: center;
}
.align_center {
    text-align: center;
}

.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main_smart_price {
    width: 325px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #acacac;
    color: black;
    border-radius: 40px;
}

.main_smart_plus {
    margin: 70px 90px 0;
    width: 41px;
    height: 41px;
    background-image: url(https://breezm.com/img/main/main_plus_pc.png);
}

.column_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.font-size-42 {
	font-size: 42px;
}
.weight700 {
	font-weight: 700!important;
}

.main_button {
    border: none;
    color: #19387b;
    font-size: 28px;
    cursor: pointer;
}

.font-size-28 {
    font-size: 28px !important;
}

.font-size-24 {
    font-size: 24px !important;
}

.weight500 {
    font-weight: 500;
}

.weight300 {
    font-weight: 300!important;
}

.main_title_p {
    padding: 200px 0 150px;
}



.slide {
    box-shadow: 0 5px 70px -30px rgb(0 0 0 / 25%);
}


.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}



.carousel_text_box {
    height: 400px;
    padding: 88px 80px 140px;
    display: flex;
    justify-content: space-between;
}

.font-size-32 {
    font-size: 32px !important;
}

.carousel_text_detail {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
}

.carousel-control-prev {
    height: 788px !important;
    left: -180px !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=http…5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z/%3E%3C/svg%3E");
}

.silde_l {
    background-image: url(https://breezm.com/img/main/slide_l.png);
    width: 25px;
    height: 50px;
    background-size: 100% 100%;
}

.carousel-control-next {
    height: 788px !important;
    right: -180px !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=http…5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z/%3E%3C/svg%3E");
}

.slide_r {
    background-image: url(https://breezm.com/img/main/slide_r.png);
    width: 25px;
    height: 50px;
    background-size: 100% 100%;
}